# fastapi
# uvicorn[standard]
# python-multipart
# ultralytics
# pillow
# deep-translator
# opencv-python-headless
# numpy

# main

--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
torch
torchvision
fastapi
uvicorn[standard]
python-multipart
ultralytics
pillow
deep-translator
opencv-python-headless
numpy